<div class="ons-u-bt ons-u-mt-l ons-u-mb-l">
  <ul class="ons-list ons-list--bare ons-list--inline@m ons-u-fs-s ons-u-mt-s ons-u-mb-s ons-u-ml-no ons-u-mr-no">
    <li class="ons-list__item">
      <span class="ons-list__prefix" aria-hidden="true">&#x1F4C4;</span>
      <a href="#" class="ons-list__link ons-u-td-no">RSS feed</a>
    </li>
    <li class="ons-list__item">
      <span class="ons-list__prefix" aria-hidden="true">&#x26A0;</span>
      <a href="#" class="ons-list__link ons-u-td-no">Email alerts</a>
    </li>
    <li class="ons-list__item ons-u-mr-no">
      <span class="ons-list__prefix" aria-hidden="true">&#x1F4C5;</span>
      <a href="#" class="ons-list__link ons-u-td-no ons-u-mr-no">Add to your calendar (ICS)</a>
    </li>
  </ul>
</div>
