{{/*
  .Description.Title is piped through safeHTML to allow keywords to be
  highlighted by the search engine, which wraps them in an ONS Design System
  tag designed for the purpose:
    <em class="ons-highlight">keyword</em>
*/}}
{{ $currentPage := .Pagination.CurrentPage }}
{{ $totalSearchPositon := .TotalSearchPosition }}

<ol class="ons-list ons-list--bare ons-u-bt ons-u-mb-l">
  {{range $i, $item := .Entries.Items }}
    {{ $currentPosition := add $i 1 }}
    <li class="ons-list__item ons-u-mt-l">
      <a
        href="{{ .URI }}"
        class="ons-u-fs-m ons-u-td-no ons-u-d-b"
        data-gtm-release-title = "{{ .Description.Title }}"
        data-gtm-release-url="{{ .URI }}"
        data-gtm-release-date="{{ dateFormatYYYYMMDDNoSlashes .Description.ReleaseDate }}"
        data-gtm-release-time="{{ timeFormat24h .Description.ReleaseDate }}"
        data-gtm-release-calendar-page="{{ $currentPage }}"
        data-gtm-release-calendar-position="{{ add $totalSearchPositon $currentPosition }}"
      >
        {{- .Description.Title | safeHTML -}}
      </a>
      <div class="ons-u-mt-xs">
        <span class="ons-u-fs-r--b">{{ localise "ReleaseDate" $.Language 1 }}:</span>
        <span>{{ dateTimeOnsDatePatternFormat .Description.ReleaseDate $.Language }}</span>
        <span>|</span>
        {{/* template "partials/releasestate/type" .PublicationState */}}
        {{ if eq .PublicationState.Type "published" }}
          <span>{{ localise "ReleaseStatePublished" $.Language 1 }}</span>
        {{ else if eq .PublicationState.Type "upcoming" }}
          {{ if eq .PublicationState.SubType "provisional" }}
            <span>{{ localise "ReleaseStateProvisional" $.Language 1 }}</span>
          {{ else if eq .PublicationState.SubType "confirmed" }}
            <span>{{ localise "ReleaseStateConfirmed" $.Language 1 }}</span>
          {{ else if eq .PublicationState.SubType "postponed" }}
            <span>{{ localise "ReleaseStatePostponed" $.Language 1 }}</span>
          {{ else }}
            <span>{{ localise "ReleaseStateUpcoming" $.Language 1 }}</span>
          {{ end }}
        {{ else  }}
          <span>{{ localise "ReleaseStateCancelled" $.Language 1 }}</span>
        {{ end }}
      </div>
    </li>
  {{end}}
</ol>
