{{/*
  "Sort by" drop-down menu submits all filters and sort order in query parameters.

  With JavaScript enabled:
    Form submission occurs on change of the drop-down.

  With JavaScript disabled:
    Form submission occurs on click of the Sort button.
    The Sort button is hidden when JavaScript is enabled.
*/}}

<form class="ons-grid ons-grid--flex@m ons-u-pb-s" novalidate>
  {{/* Include all other page settings in the form submission */}}
  {{ template "partials/calendar/hidden-inputs/release-types" . }}
  {{ template "partials/calendar/hidden-inputs/keywords" . }}
  {{ template "partials/calendar/hidden-inputs/before-date" . }}
  {{ template "partials/calendar/hidden-inputs/after-date" . }}
  {{ template "partials/calendar/hidden-inputs/census" . }}

  <div class="ons-grid__col ons-u-wa--">
    <div class="ons-field--inline">
      <label class="ons-label" for="select-calendar-item-order">
        {{- localise "ReleaseCalendarSortByLabel" .Language 1 -}}
      </label>
      <select
        id="select-calendar-item-order"
        name="sort"
        class="ons-input ons-input--select ons-u-wa--@xxs ons-u-mr-s"
        onchange="this.form.submit()"
      >
        {{ $sortMode := .Sort.Mode }}
        {{ range .Sort.Options }}
          <option
            value="{{ .Value }}"
            {{ if eq .Value $sortMode }}selected{{ end }}
            {{ if .Disabled }}disabled{{ end }}
          >
            {{- localise .LocaleKey $.Language .Plural -}}
          </option>
        {{ end }}
      </select>
    </div>
  </div>
  <div class="ons-grid__col ons-u-wa--@m ons-u-pl-no@m ons-u-pt-no@m ons-u-pt-s@xxs@m ons-u-pr-s@l js--hide">
    <button
      type="submit"
      class="ons-btn ons-btn--secondary font-size--14 btn--full-width"
    >
      <span class="ons-btn__inner">
        {{- localise "ReleaseCalendarSortBySubmit" .Language 1 -}}
      </span>
    </button>
  </div>
</form>
