{{/*
  "Sort by" drop-down menu submits all filters and sort order in query parameters.

  With JavaScript enabled:
    Form submission occurs on change of the drop-down.

  With JavaScript disabled:
    Form submission occurs on click of the Sort button.
    The Sort button is hidden when JavaScript is enabled.
*/}}

<form>
  <div class="ons-field ons-field--inline">
    {{ range .Filters }}
      <input type="hidden" name="{{ .Name }}" value="{{ .Value }}" />
    {{ end }}
    <label class="ons-label" for="select-calendar-item-order">Sort by</label>
    <select
      id="select-calendar-item-order"
      name="sort"
      class="ons-input ons-input--select ons-u-wa--@xxs"
      onchange="this.form.submit()"
    >
      {{ $sortMode := .Sort.Mode }}
      {{ range .Sort.Options }}
        <option
          value="{{ .Value }}"
          {{ if eq .Value $sortMode }}selected{{ end }}
        >
          {{ .Label }}
        </option>
      {{ end }}
    </select>
    <button
      type="submit"
      class="ons-btn btn btn--primary btn--thin btn--small js--hide font-size--16"
      style="margin-left: 1em"
    >
      Sort
    </button>
  </div>
</form>
