<fieldset class="ons-fieldset">
  {{ with index .ReleaseTypes "type-census" }}
  <div class="ons-checkboxes__items">
    <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
      <span class="ons-checkbox ons-checkbox--no-border">
        {{ template "partials/inputs/input-checkbox" . }}
      </span>
    </span>
  </div>
  {{ end }}
</fieldset>
