<form>
  <!-- TODO accessibility requirement? <p class="ons-checkboxes__label">Show only:</p> -->
  <div class="ons-checkboxes__items">
    <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
      <span class="ons-checkbox ons-checkbox--no-border">
        <input type="checkbox" id="publications" class="ons-checkbox__input ons-js-checkbox ons-js-other ons-js-select-all-children" value="publications" aria-controls="publications-other-wrap" aria-haspopup="true">
        <label class="ons-checkbox__label" for="publications" id="publications-label">{{- localise "ReleaseCalendarFilterCensus" .Language 1 -}}(79)</label>
      </span>
    </span>
  </div>
  <button type="submit" class="ons-btn ons-btn--secondary ons-u-mt-s">
    <span class="ons-btn__inner">Apply census filters</span>
  </button>
</form>
