<fieldset id="after-date" class="ons-fieldset">
  <legend class="ons-fieldset__legend">
    Released after
    <div class="ons-fieldset__description">
      For example: 2006 or 19/07/2010
    </div>
  </legend>
  <div class="ons-field-group">
    <div class="ons-field">
      <label
        class="ons-label"
        for="after-date-day"
      >
        Day
      </label>
      <input
        type="text"
        id="after-date-day"
        class="ons-input ons-input--text ons-input-type__input ons-input-number--w-2"
        name="after-day"
        min="1"
        max="31"
        maxlength="2"
        pattern="[0-9]*"
        inputmode="numeric"
        autocomplete="bday-day"
        value="{{ .AfterDate.Day }}"
      >
    </div>
    <div class="ons-field">
      <label
        class="ons-label"
        for="after-date-month"
      >
        Month
      </label>
      <input
        type="text"
        id="after-date-month"
        class="ons-input ons-input--text ons-input-type__input ons-input-number--w-2"
        name="after-month"
        min="1"
        max="12"
        maxlength="2"
        pattern="[0-9]*"
        inputmode="numeric"
        autocomplete="bday-month"
        value="{{ .AfterDate.Month }}"
      >
    </div>
    <div class="ons-field">
      <label
        class="ons-label"
        for="after-date-year"
      >
        Year
      </label>
      <input
        type="text"
        id="after-date-year"
        class="ons-input ons-input--text ons-input-type__input ons-input-number--w-4"
        name="after-year"
        min="1000"
        max="3000"
        maxlength="4"
        pattern="[0-9]*"
        inputmode="numeric"
        autocomplete="bday-year"
        value="{{ .AfterDate.Year }}"
      >
    </div>
  </div>
</fieldset>
