{{ if .HasValidationErr}}
<div
  class="ons-panel ons-panel--error ons-panel--no-title"
  id="{{- .ID -}}"
>
  <span class="ons-panel__assistive-text ons-u-vh">Error: </span>
  <div class="ons-panel__body">
    <p class="ons-panel__error">
      <strong>{{- .ValidationErr.Description -}}</strong>
    </p>
    {{ template "partials/inputs/input-date" .Input }}
  </div>
</div>
{{ else }}
{{ template "partials/inputs/input-date" .Input }}
{{ end }}
