<fieldset class="ons-fieldset">
  <!-- TODO accessibility requirement? <legend class="ons-fieldset__legend">Content type</legend> -->
  <p class="ons-checkboxes__label">Show only:</p>
  <div class="ons-checkboxes__items">
    <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
      <span class="ons-checkbox ons-checkbox--no-border">
        <input type="checkbox" id="data" class="ons-checkbox__input ons-js-checkbox " value="data">
        <label class=" ons-checkbox__label " for="data" id="data-label">Published (309)</label>
      </span>
    </span>
    <br>
    <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
      <span class="ons-checkbox ons-checkbox--no-border">
        <input type="checkbox" id="publications" class="ons-checkbox__input ons-js-checkbox  ons-js-other ons-js-select-all-children" value="publications" aria-controls="publications-other-wrap" aria-haspopup="true">
        <label class=" ons-checkbox__label " for="publications" id="publications-label">Upcoming (137)</label>
        <span class="ons-checkbox__other" id="publications-other-wrap">
          <fieldset class="ons-fieldset ons-js-other-fieldset">
            <legend class="ons-fieldset__legend ons-u-vh ons-u-mb-xs">Publication type</legend>
            <p class="ons-checkboxes__label"></p>
            <div class="ons-checkboxes__items">
              <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                <span class="ons-checkbox ons-checkbox--no-border">
                  <input type="checkbox" id="datasets" class="ons-checkbox__input ons-js-checkbox " value="datasets">
                  <label class=" ons-checkbox__label " for="datasets" id="datasets-label">Confirmed (100)</label>
                </span>
              </span>
              <br>
              <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                <span class="ons-checkbox ons-checkbox--no-border">
                  <input type="checkbox" id="timeseries" class="ons-checkbox__input ons-js-checkbox " value="timeseries">
                  <label class=" ons-checkbox__label " for="timeseries" id="timeseries-label">Provisional (20)</label>
                </span>
              </span>
              <br>
              <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                <span class="ons-checkbox ons-checkbox--no-border">
                  <input type="checkbox" id="requested" class="ons-checkbox__input ons-js-checkbox " value="requested">
                  <label class=" ons-checkbox__label " for="requested" id="requested-label">Postponed (17)</label>
                </span>
              </span>
            </div>
          </fieldset>
        </span>
      </span>
    </span>
    <br>
    <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
      <span class="ons-checkbox ons-checkbox--no-border">
        <input type="checkbox" id="areas" class="ons-checkbox__input ons-js-checkbox  ons-js-other ons-js-select-all-children" value="areas">
        <label class=" ons-checkbox__label " for="areas" id="areas-label">Cancelled (0)</label>
      </span>
    </span>
  </div>
</fieldset>
