<fieldset class="ons-fieldset">
  <legend class="ons-radios__label ons-u-mb-s">{{- localise "FilterReleaseTypeShowOnly" .Language 1 -}}:</legend>
  <div class="ons-radios__items">
    {{ with index .ReleaseTypes "type-published" }}
    <span class="ons-radios__item ons-radios__item--no-border">
      <span class="ons-radio ons-radio--no-border">
        {{ template "partials/inputs/input-radio" . }}
      </span>
    </span>
    <br>
    {{ end }}
    {{ with index .ReleaseTypes "type-upcoming" }}
    <span class="ons-radios__item ons-radios__item--no-border">
      <span class="ons-radio ons-radio--no-border">
        {{ template "partials/inputs/input-radio" . }}
      </span>
    </span>
    <br>
    {{ end }}
    {{ with index .ReleaseTypes "type-cancelled" }}
    <span class="ons-radios__item ons-radios__item--no-border">
      <span class="ons-radio ons-radio--no-border">
        {{ template "partials/inputs/input-radio" . }}
      </span>
    </span>
    {{ end }}
  </div>
</fieldset>
