{{/*
    Force the sort order to 'relevance' when submitting keywords.
    Empty keywords will be detected by the backend and ignore 'relevance'
    in favour of a more appropriate default.
  */}}
<input
  type="hidden"
  name="sort"
  value="relevance"
>

{{ template "partials/compact-search" .KeywordSearch }}
