<form
  role="search"
  aria-label="Keywords"
  class="ons-u-pr-s ons-u-pr-no@xxs@l"
>
  {{/* Include all other page settings in the form submission */}}
  {{ template "partials/calendar/hidden-inputs/release-types" . }}
  {{ template "partials/calendar/hidden-inputs/sort-mode" . }}
  {{ template "partials/calendar/hidden-inputs/before-date" . }}
  {{ template "partials/calendar/hidden-inputs/after-date" . }}

  {{ template "partials/compact-search" .KeywordSearch }}
</form>
