<input type="radio"
       id="{{ .Id }}"
       name="{{ .Name }}"
       class="ons-radio__input ons-js-radio"
       value="true"
        {{ if .Checked }}
            checked
        {{ end }}/>
<label class="ons-radio__label" for="{{.Id}}" id="{{.Id}}-label">
    {{ .Label }} ({{ .Count }})
</label>
