<div class="ons-radios__items">
{{ with index .ReleaseTypes "type-published" }}
    <span class="ons-radios__item ons-radios__item--no-border">
      <span class="ons-radio ons-radio--no-border">
        <input type="radio" 
            id="release-type-published"
            class="ons-radio__input ons-js-radio"
            name="type-published"
            value="true"
            {{ if .Checked }}
               checked
            {{ end }}/>
        <label class="ons-radio__label" for="release-type-published" id="release-type-published-label">
          {{ .Label }} ({{ .Count }})
        </label>
      </span>
    </span>
    <br>
{{ end }}
{{ with index .ReleaseTypes "type-upcoming" }}
    <span class="ons-radios__item ons-radios__item--no-border">
      <span class="ons-radio ons-radio--no-border">
          <input
            type="radio"
            id="release-type-upcoming"
            class="ons-radio__input ons-js-radio ons-js-other ons-js-select-all-children"
            name="type-upcoming"
            value="true"
            aria-controls="publications-other-wrap"
            aria-haspopup="true"
            {{ if .Checked }}
              checked
            {{ end }}>
          <label
            class="ons-radio__label "
            for="release-type-upcoming"
            id="release-type-upcoming-label">
            {{ .Label }} ({{ .Count }})
          </label>
          <span class="ons-checkbox__other">
            <fieldset class="ons-fieldset ons-js-other-fieldset">
              <legend class="ons-fieldset__legend ons-u-vh ons-u-mb-xs">
                {{ .Label }} type
              </legend>
              <p class="ons-checkboxes__label"></p>
              <div class="ons-checkboxes__items">
                <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                  <span class="ons-checkbox ons-checkbox--no-border">
                    {{ with index .SubTypes "subtype-confirmed" }}
                      <input
                        type="checkbox"
                        id="release-subtype-confirmed"
                        class="ons-checkbox__input ons-js-checkbox"
                        name="subtype-confirmed"
                        value="true"
                        {{ if .Checked }}
                          checked
                        {{ end }}
                      >
                      <label
                        class="ons-checkbox__label"
                        for="release-subtype-confirmed"
                      >
                        {{ .Label }} ({{ .Count }})
                      </label>
                    {{ end }}
                  </span>
                </span>
                <br>
                <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                  <span class="ons-checkbox ons-checkbox--no-border">
                    {{ with index .SubTypes "subtype-provisional" }}
                      <input
                        type="checkbox"
                        id="release-subtype-provisional"
                        class="ons-checkbox__input ons-js-checkbox"
                        name="subtype-provisional"
                        value="true"
                        {{ if .Checked }}
                          checked
                        {{ end }}
                      >
                      <label
                        class="ons-checkbox__label"
                        for="release-subtype-provisional"
                      >
                        {{ .Label }} ({{ .Count }})
                      </label>
                    {{ end }}
                  </span>
                </span>
                <br>
                <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                  <span class="ons-checkbox ons-checkbox--no-border">
                    {{ with index .SubTypes "subtype-postponed" }}
                      <input
                        type="checkbox"
                        id="release-subtype-postponed"
                        class="ons-checkbox__input ons-js-checkbox"
                        name="subtype-postponed"
                        value="true"
                        {{ if .Checked }}
                          checked
                        {{ end }}
                      >
                      <label
                        class="ons-checkbox__label"
                        for="release-subtype-postponed"
                      >
                        {{ .Label }} ({{ .Count }})
                      </label>
                    {{ end }}
                  </span>
                </span>
              </div>
            </fieldset>
          </span>
      </span>
    </span>
    <br>
{{ end }}
{{ with index .ReleaseTypes "type-cancelled" }}
    <span class="ons-radios__item ons-radios__item--no-border">
      <span class="ons-radio ons-radio--no-border">
        <input
            type="radio"
            id="release-type-cancelled"
            class="ons-radio__input ons-js-radio ons-js-other ons-js-select-all-children"
            name="type-cancelled"
            value="true"
            {{ if .Checked }}
                checked
            {{ end }}
        />
        <label class=" ons-radio__label " for="release-type-cancelled" id="post-label">
          {{ .Label }} ({{ .Count }})
        </label>
      </span>
    </span>
{{ end }}
  </div>