<div class="ons-grid ons-js-toc-container ons-u-ml-no">
  <!-- Left column -->
  <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m ons-u-p-no">
    {{ template "partials/previousreleases/contents/navigation" . }}
  </div>

  <!-- Right column -->
  <div class="ons-grid__col ons-col-8@m">
    {{ template "partials/previousreleases/contents/body" . }}
  </div>
</div>
