<div>
    {{ if .Description.Census2021 }}
      <div class="ons-u-pb-s">
        {{ if eq .Language "cy" }}
          <img
            src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-cyfrifiad-2021-purple-landscape.svg"
            alt="Census 2021 logo"
            width="171"
          >
        {{ else }}
          <img
            src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-census-2021-purple-landscape.svg"
            alt="Census 2021 logo"
            width="171"
          >
        {{ end }}
      </div>
    {{ end }}

    {{ if .Description.ProvisionalDate }}
        <div>
          <span class="ons-u-fs-r--b">{{ localise "ReleaseStatusLineProvisionalReleaseDate" .Language 1 }}:</span>
          {{/* ProvisionalDate is a free text field in Florence, not a timestamp */}}
          <span class="ons-u-nowrap">{{ .Description.ProvisionalDate }}</span>
        </div>
        {{ else if .Description.Cancelled }}
        <div>
          <span class="ons-u-fs-r--b">{{ localise "ReleaseStatusLineReleaseDate" .Language 1 }}:</span>
          <span>{{ localise "ReleaseStatusLineCancelled" .Language 1 }}</span>
        </div>
        {{ else if .Description.NextRelease }}
        <ul class="ons-list ons-list--bare ons-list--inline">
          <li class="ons-list__item ons-u-mr-xl@xs ons-u-mb-xs@xxs@m">
            <span class="ons-u-fs-r--b">{{ localise "ReleaseStatusLineReleased" .Language 1 }}:</span>
            <span class="ons-u-nowrap">{{ dateTimeOnsDatePatternFormat .Description.ReleaseDate .Language }}</span>
          </li>
          <li class="ons-list__item ons-u-mr-xl@xs">
            <span class="ons-u-fs-r--b">{{ localise "ReleaseStatusLineNextRelease" .Language 1 }}:</span>
            <span class="ons-u-nowrap">{{ dateTimeOnsDatePatternFormat .Description.NextRelease .Language }}</span>
          </li>
        </ul>
        {{ else }}
        <div>
          <span class="ons-u-fs-r--b">{{ localise "ReleaseStatusLineReleaseDate" .Language 1 }}:</span>
          <span class="ons-u-nowrap">{{ dateTimeOnsDatePatternFormat .Description.ReleaseDate .Language }}</span>
        </div>
    {{ end }}
    <div class="ons-u-pt-s ons-u-pb-m@m ons-u-pb-s@xxs@m">
        {{ if eq .PublicationState.Type "upcoming" }}
          {{ if or (eq .PublicationState.SubType "provisional") (eq .PublicationState.SubType "confirmed") }}
            <div class="ons-panel ons-panel--info ons-panel--no-title">
              <span class="ons-u-vh">{{ localise "StatusBannerImportantInformation" .Language 1 }}: </span>
              <div class="ons-panel__body">
                <p>{{ localise "StatusBannerReleaseNotYetPublished" .Language 1 }}</p>
              </div>
            </div>
          {{ else if eq .PublicationState.SubType "postponed" }}
            <div class="ons-panel ons-panel--info ons-panel--no-title">
              <span class="ons-u-vh">{{ localise "StatusBannerImportantInformation" .Language 1 }}: </span>
              <div class="ons-panel__body">
                {{ $reason := .FuncGetPostponementReason }}
                {{ if $reason }}
                  {{- markdown $reason -}}
                {{ else }}
                  <p>{{ localise "StatusBannerReleasePostponed" .Language 1 }}</p>
                {{ end }}
              </div>
            </div>
          {{ end }}
        {{ else if eq .PublicationState.Type "cancelled" }}
          <div class="ons-panel ons-panel--info ons-panel--no-title">
            <span class="ons-u-vh">{{ localise "StatusBannerImportantInformation" .Language 1 }}: </span>
            <div class="ons-panel__body">
              {{ if .Description.CancellationNotice }}
                {{ range .Description.CancellationNotice }}
                  {{- markdown . -}}
                {{ end }}
              {{ else }}
                <p>{{ localise "StatusBannerReleaseCancelled" .Language 1 }}</p>
              {{ end }}
            </div>
          </div>
        {{ end }}
    </div>
</div>
