<div>
  {{ if .Description.ProvisionalDate }}
    <div>
      <span class="ons-u-fs-r--b">{{ localise "ReleaseStatusLineProvisionalReleaseDate" .Language 1 }}:</span>
      {{/* ProvisionalDate is a free text field in Florence, not a timestamp */}}
      <span>{{ .Description.ProvisionalDate }}</span>
    </div>
  {{ else if .Description.Cancelled }}
    <div>
      <span class="ons-u-fs-r--b">{{ localise "ReleaseStatusLineReleaseDate" .Language 1 }}:</span>
      <span>{{ localise "ReleaseStatusLineCancelled" .Language 1 }}</span>
    </div>
  {{ else if .Description.NextRelease }}
    <div class="ons-grid ons-u-ml-no">
      <!-- Left column -->
      <div class="ons-grid__col ons-col-4@m ons-u-p-no">
        <div class="ons-pl-grid-col">
          <span class="ons-u-fs-r--b">{{ localise "ReleaseStatusLineReleased" .Language 1 }}:</span>
          <span>{{ dateTimeOnsDatePatternFormat .Description.ReleaseDate }}</span>
        </div>
      </div>

      <!-- Right column -->
      <div class="ons-grid__col ons-col-8@m">
        <div class="ons-pl-grid-col">
          <span class="ons-u-fs-r--b">{{ localise "ReleaseStatusLineNextRelease" .Language 1 }}:</span>
          <span>{{ dateTimeOnsDatePatternFormat .Description.NextRelease }}</span>
        </div>
      </div>
    </div>
  {{ else }}
    <div>
      <span class="ons-u-fs-r--b">{{ localise "ReleaseStatusLineReleaseDate" .Language 1 }}:</span>
      <span>{{ dateTimeOnsDatePatternFormat .Description.ReleaseDate }}</span>
    </div>
  {{ end }}
  <div class="ons-u-pt-s ons-u-pb-m">
    {{ if eq .PublicationState.Type "upcoming" }}
      {{ if or (eq .PublicationState.SubType "provisional") (eq .PublicationState.SubType "confirmed") }}
        <div class="ons-panel ons-panel--info ons-panel--no-title">
          <span class="ons-u-vh">Important information: </span>
          <div class="ons-panel__body">
            <p>This release is not yet published</p>
          </div>
        </div>
      {{ else if eq .PublicationState.SubType "postponed" }}
        <div class="ons-panel ons-panel--info ons-panel--no-title">
          <span class="ons-u-vh">Important information: </span>
          <div class="ons-panel__body">
            {{ $reason := .FuncGetPostponementReason }}
            {{ if $reason }}
              {{- markdown $reason -}}
            {{ else }}
              <p>This release has been postponed</p>
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ else if eq .PublicationState.Type "cancelled" }}
      <div class="ons-panel ons-panel--info ons-panel--no-title">
        <span class="ons-u-vh">Important information: </span>
        <div class="ons-panel__body">
          {{ if .Description.CancellationNotice }}
            {{ range .Description.CancellationNotice }}
              {{- markdown . -}}
            {{ end }}
          {{ else }}
            <p>This release has been cancelled</p>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
  {{ if .Description.Census2021 }}
    <div class="ons-u-mt-l">
      <img
        src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-census-2021-purple-landscape.svg"
        alt="Census 2021 logo"
      >
    </div>
  {{ end }}
</div>
