<aside class="ons-toc-container" role="complementary">
  <a class="ons-skip-link" href="#summary">Skip to guide content</a>
  <nav class="ons-toc" aria-label="Pages in this guide">
    <h2 class="ons-toc__title ons-u-fs-r--b ons-u-mb-s">Contents</h2>
    <ol class="ons-list ons-u-mb-m ons-list--dashed">
      <li class="ons-list__item" aria-current="true">
        <a href="#summary" class="ons-list__link">Summary</a>
      </li>
      <li class="ons-list__item">
        <a href="#releasehistory" class="ons-list__link">Release history</a>
      </li>
    </ol>
  </nav>
</aside>
