<div>
  <table id="basic-table" class="ons-table">
    {{/*
        TODO accessility requirement? <caption class="ons-table__caption">A basic table with a caption</caption> -->
    */}}
    <thead class="ons-table__head">
      <tr class="ons-table__row">
        <th scope="col" class="ons-table__header">
          <span>Release date</span>
        </th>
        <th scope="col" class="ons-table__header">
          <span>Reason for update</span>
        </th>
      </tr>
    </thead>
    <tbody class="ons-table__body">
      {{ range $index, $element := .ReleaseHistory }}
        <tr class="ons-table__row">
          <td class="ons-table__cell ons-u-pt-s ons-u-pb-s">
            {{ if eq $index 0 }}
              {{ $element.Title }}
              <span class="sticker ons-u-fs-s--b">
                LATEST
              </span>
            {{ else }}
              <a href="{{ $element.URI }}">{{ $element.Title }}</a>
            {{ end }}
          </td>
          <td class="ons-table__cell ons-u-pt-s ons-u-pb-s">
            {{ $element.Summary }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
  {{ template "partials/pagination" . }}
</div>
