{{ if .AfterDate }}
  {{ if .AfterDate.Day }}
    <input type="hidden" name="after-day" value="{{ .AfterDate.Day }}">
  {{ end }}
  {{ if .AfterDate.Month }}
    <input type="hidden" name="after-month" value="{{ .AfterDate.Month }}">
  {{ end }}
  {{ if .AfterDate.Year }}
    <input type="hidden" name="after-year" value="{{ .AfterDate.Year }}">
  {{ end }}
{{ end }}
