{{ if .AfterDate.Input }}
  {{ if .AfterDate.Input.InputValueDay }}
    <input type="hidden" name="after-day" value="{{ .AfterDate.Input.InputValueDay }}">
  {{ end }}
  {{ if .AfterDate.Input.InputValueMonth }}
    <input type="hidden" name="after-month" value="{{ .AfterDate.Input.InputValueMonth }}">
  {{ end }}
  {{ if .AfterDate.Input.InputValueYear }}
    <input type="hidden" name="after-year" value="{{ .AfterDate.Input.InputValueYear }}">
  {{ end }}
{{ end }}
