{{ if .BeforeDate.Input }}
  {{ if .BeforeDate.Input.InputValueDay }}
    <input type="hidden" name="before-day" value="{{ .BeforeDate.Input.InputValueDay }}">
  {{ end }}
  {{ if .BeforeDate.Input.InputValueMonth }}
    <input type="hidden" name="before-month" value="{{ .BeforeDate.Input.InputValueMonth }}">
  {{ end }}
  {{ if .BeforeDate.Input.InputValueYear }}
    <input type="hidden" name="before-year" value="{{ .BeforeDate.Input.InputValueYear }}">
  {{ end }}
{{ end }}
