{{ range $type, $value := .ReleaseTypes }}
  {{ if eq $value.Name "census" }}
    <input
      type="hidden"
      name="{{ $value.Name}}"
      {{ if $value.Checked }}
        value="true"
        checked
      {{ else}}
        value=""
      {{ end }}>
  {{ end }}
{{ end }}
