{{ range $type, $value := .ReleaseTypes }}
  {{ if and (eq $value.Name "census") $value.IsChecked }}
    <input
      type="hidden"
      name="{{ $value.Name}}"
      value="true"
      checked
    >
  {{ end }}
{{ end }}
