{{ range $type, $value := .ReleaseTypes }}
  {{ if $value.Checked }}
    <input type="hidden" name="{{ $type }}" value="true">
  {{ end }}

  {{ range $subType, $subValue := $value.SubTypes }}
    {{ if $subValue.Checked }}
      <input type="hidden" name="{{ $subType }}" value="true">
    {{ end }}
  {{ end }}
{{ end }}
