<div class="about-the-data">
  {{ if .Description.Census2021 }}
    <div class="ons-u-mb-l census-2021">
      <img
        src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-census-2021-purple-landscape.svg"
        alt="Census 2021 logo"
        class="ons-u-mb-xs"
      >
      <p>{{- localise "CensusPhrasingNationalStatistic" $.Language 1 -}}</p>
    </div>
  {{ end }}
  {{ if .Description.WelshStatistic }}
    <div class="ons-u-mb-l welsh-statistic">
      <img
        src="https://cdn.ons.gov.uk/assets/images/government/welsh-government.svg"
        alt="Welsh Government logo"
        class="ons-u-mb-xs ons-u-d-b"
      >
      <p>{{- localise "CensusPhrasingWelshStatistic" $.Language 1 -}}</p>
    </div>
  {{ end }}
  {{ if .Description.NationalStatistic }}
    <div class="ons-u-mb-l national-statistics">
      <h2 class="ons-u-fs-m ons-u-flex-ai-c">
        <span>National Statistics</span>
        <a
          href="https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/"
          class="national-statistics__link ons-u-ml-s"
        >
          <img
            src="https://cdn.ons.gov.uk/assets/images/ons-logo/kitemark/uksa-kitemark.svg"
            alt="UK Statistics Authority kitemark"
            class="national-statistics__logo"
          >
        </a>
      </h2>
      <p>
        {{- localise "NationalStatisticsBody1" $.Language 1 -}} <a href="https://code.statisticsauthority.gov.uk/the-code/">{{- localise "NationalStatisticsBodyLink" $.Language 1 -}}</a>.
        {{- localise "NationalStatisticsBody2" $.Language 1 -}}
      </p>
      <ul>
        <li>{{- localise "NationalStatisticsIdentified" $.Language 1 -}}</li>
        <li>{{- localise "NationalStatisticsExplained" $.Language 1 -}}</li>
        <li>{{- localise "NationalStatisticsProduce" $.Language 1 -}}</li>
        <li>{{- localise "NationalStatisticsManaged" $.Language 1 -}}</li>
      </ul>
    </div>
  {{ end }}
</div>
