<div class="about-the-data">
  {{ if .Description.Census2021 }}
    <div class="ons-u-mb-l census-2021">
      {{ if eq .Language "cy" }}
        <img
          src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-cyfrifiad-2021-purple-landscape.svg"
          alt="Census 2021 logo"
          class="ons-u-mb-xs"
          width="171"
        >
      {{ else }}
        <img
          src="https://cdn.ons.gov.uk/assets/images/census-logo/logo-census-2021-purple-landscape.svg"
          alt="Census 2021 logo"
          class="ons-u-mb-xs"
          width="171"
        >
      {{ end }}
      <p>{{- localise "AboutDataCensus" $.Language 1 -}}</p>
    </div>
  {{ end }}
  {{ if .Description.WelshStatistic }}
    <div class="ons-u-mb-l welsh-statistic">
      <img
        src="https://cdn.ons.gov.uk/assets/images/government/welsh-government.svg"
        alt="Welsh Government logo"
        class="ons-u-mb-xs ons-u-d-b"
      >
      <p>{{- localise "AboutDataWelshStatistic" $.Language 1 -}}</p>
    </div>
  {{ end }}
  {{ if .Description.NationalStatistic }}
    <div class="ons-u-mb-l national-statistics">
      <h2 class="ons-u-fs-m ons-u-flex-ai-c">
        <span>National Statistics</span>
        <a
          href="https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/"
          class="national-statistics__link ons-u-ml-s"
        >
          <img
            src="https://cdn.ons.gov.uk/assets/images/ons-logo/kitemark/uksa-kitemark.svg"
            alt="UK Statistics Authority kitemark"
            class="national-statistics__logo"
          >
        </a>
      </h2>
      <p>
        {{- localise "AboutDataNationalStatisticsBody1" $.Language 1 -}}<a href="https://code.statisticsauthority.gov.uk/the-code/">{{- localise "AboutDataNationalStatisticsBodyLink" $.Language 1 -}}</a>.
        {{- localise "AboutDataNationalStatisticsBody2" $.Language 1 -}}
      </p>

      <p>{{- localise "AboutDataNationalStatisticsBody3" $.Language 1 -}}</p>
      <ul class="ons-list">
        <li class="ons-list__item">{{- localise "AboutDataNationalStatisticsIdentified" $.Language 1 -}}</li>
        <li class="ons-list__item">{{- localise "AboutDataNationalStatisticsExplained" $.Language 1 -}}</li>
        <li class="ons-list__item">{{- localise "AboutDataNationalStatisticsProduced" $.Language 1 -}}</li>
        <li class="ons-list__item">{{- localise "AboutDataNationalStatisticsManaged" $.Language 1 -}}</li>
      </ul>
    </div>
  {{ end }}
</div>
