<div class="ons-pl-grid-col">
  {{ $release := . }}
  {{ $sections := .TableOfContents.Sections }}
  {{ range $id := .TableOfContents.DisplayOrder }}
    {{ $section := index $sections $id }}
    <section id="{{ $id }}" class="ons-u-mb-l">
      <h2>{{ $section.Title.FuncLocalise $.Language }}</h2>
      {{ if eq $id "summary"}}
        <p>{{ markdown $release.Description.Summary }}</p>
      {{ else if eq $id "publications" }}
        {{ template "partials/release/contents/publications" $release }}
      {{ else if eq $id "data" }}
        {{ template "partials/release/contents/data" $release }}
      {{ else if eq $id "contactdetails" }}
        {{ template "partials/release/contents/contact-details" $release }}
      {{ else if eq $id "changestothisreleasedate" }}
        {{ template "partials/release/contents/date-changes" $release }}
      {{ else if eq $id "aboutthedata" }}
        {{ template "partials/release/contents/about-the-data" $release }}
      {{ else if eq $id "moreonthistopic" }}
        {{ template "partials/release/contents/more-on-this-topic" $release }}
      {{ end }}
    </section>
  {{ end }}
</div>
