<div class="ons-pl-grid-col">
  {{ $release := . }}
  {{ $sections := .TableOfContents.Sections }}
  {{ range $id := .TableOfContents.DisplayOrder }}
    {{ $section := index $sections $id }}
    <section id="{{ $id }}">
      <h2>{{ $section.Title }}</h2>
      {{ if eq $id "summary"}}
        <p>{{ $release.Description.Summary }}</p>
      {{ else if eq $id "publications" }}
        {{ template "partials/release/contents/publications" $release }}
      {{ else if eq $id "data" }}
        {{ template "partials/release/contents/data" $release }}
      {{ else if eq $id "contactdetails" }}
        {{ template "partials/release/contents/contact-details" $release }}
      {{ else if eq $id "changestothisreleasedate" }}
        {{ template "partials/release/contents/date-changes" $release }}
      {{ else if eq $id "releasehistory" }}
        {{ template "partials/release/contents/release-history" $release }}
      {{ else if eq $id "codeofpractice" }}
        {{ template "partials/release/contents/code-of-practice" $release }}
      {{ end }}
    </section>
  {{ end }}
</div>
