<div>
  <div class="ons-u-fs-l">
    <span>UKSA LOGO</span> Code of Practice for Official Statistics
  </div>

  <p>
    The United Kingdom Statistics Authority has designated these statistics
    as National Statistics, in accordance with the Statistics and
    Registration Service Act 2007 and signifying compliance with the Code
    of Practice for Official Statistics.
  </p>

  <p>
    Designation can be broadly interpreted to mean that the statistics:
    <ul>
      <li>meet identified user needs</li>
      <li>are well explained and readily accessible</li>
      <li>are produced according to sound methods</li>
      <li>are managed impartially and objectively in the public interest</li>
    </ul>
  </p>

  <p>
    Once statistics have been designated as National Statistics it is a
    statutory requirement that the Code of Practice shall continue to
    be observed.
  </p>

  <div>CENSUS LOGO</div>

  <div class="ons-grid">
    <div class="ons-grid__col ons-col-3@m">
      <div class="ons-pl-grid-col">
        WELSH GOV LOGO
      </div>
    </div>
    <div class="ons-grid__col ons-col-9@m">
      <div class="ons-pl-grid-col ons-u-fs-s">
        This article has been written with contributions of analysis and data
        supplied by the Welsh Government
      </div>
    </div>
  </div>
</div>
