<div>
  <h3 class="ons-u-mb-no ons-u-fs-r--b">
    {{- localise "ReleaseSubsectionName" .Language 1 -}}
  </h3>
  <p>{{ .Description.Contact.Name }}</p>

  <h3 class="ons-u-mb-no ons-u-fs-r--b">
    {{- localise "ReleaseSubsectionEmail" .Language 1 -}}
  </h3>
  <p>
    <a href="mailto:{{ .Description.Contact.Email }}">
      {{- .Description.Contact.Email -}}
    </a>
  </p>

  {{ if .Description.Contact.Telephone }}
    <h3 class="ons-u-mb-no ons-u-fs-r--b">
      {{- localise "ReleaseSubsectionPhone" .Language 1 -}}
    </h3>
    <p>
      <a href="tel:{{ .Description.Contact.Telephone }}">
        {{- .Description.Contact.Telephone -}}
      </a>
    </p>
  {{ end }}
</div>
