<ol class="ons-list ons-list--bare">
  {{ range .DateChanges }}
    <li class="ons-list__item">
        <h3 class="ons-u-fs-r--b">{{ localise "ReleaseSubsectionPreviousDate" $.Language 1 }}</h3>
        <p>{{ dateTimeOnsDatePatternFormat .Date $.Language }}</p>

        <h3 class="ons-u-fs-r--b">{{ localise "ReleaseSubsectionReasonForChange" $.Language 1 }}</h3>
        <p>{{ .ChangeNotice }}</p>
    </li>
  {{ end }}
</ol>
