<div>
  <p>{{ localise "PreReleaseAccessListExplanation1" .Language 1 }}</p>
  <p>{{ localise "PreReleaseAccessListExplanation2" .Language 1 }}</p>
  {{ range $markdown := .Markdown }}
  <div class="ons-u-mb-l">
    {{ $markdown | safeHTML }}
  </div>
  {{ end }}
</div>
