<div>
  <table id="basic-table" class="ons-table">
    {{/*
        TODO accessibility requirement? <caption class="ons-table__caption">A basic table with a caption</caption>
    */}}
    <thead class="ons-table__head">
      <tr class="ons-table__row">
        <th scope="col" class="ons-table__header">
          <span>{{ localise "ReleaseHistoryReleaseDate" .Language 1 }}</span>
        </th>
        <th scope="col" class="ons-table__header">
          <span>{{ localise "ReleaseHistoryReasonForUpdate" .Language 1 }}</span>
        </th>
      </tr>
    </thead>
    <tbody class="ons-table__body">
      {{ range $index, $element := .ReleaseHistory }}
        <tr class="ons-table__row">
          <td class="ons-table__cell ons-u-pt-s ons-u-pb-s">
            {{ if eq $index 0 }}
              {{ $element.Title }}
              <span class="sticker ons-u-fs-s--b">
                {{- localise "ReleaseHistoryLatest" $.Language 1 -}}
              </span>
            {{ else }}
              <a href="{{ $element.URI }}">{{ $element.Title }}</a>
            {{ end }}
          </td>
          <td class="ons-table__cell ons-u-pt-s ons-u-pb-s">
            {{ $element.Description }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>

  <div class="ons-u-mb-s">
    <a href="">{{ localise "ReleaseHistoryAllPrevious" .Language 1 }}</a>
  </div>
</div>
