<div>
  <table id="basic-table" class="ons-table">
    <!-- <caption class="ons-table__caption">A basic table with a caption</caption> -->
    <thead class="ons-table__head">
      <tr class="ons-table__row">
        <th scope="col" class="ons-table__header">
          <span>Release date</span>
        </th>
        <th scope="col" class="ons-table__header">
          <span>Reason for update</span>
        </th>
      </tr>
    </thead>
    <tbody class="ons-table__body">
      {{ range $index, $element := .ReleaseHistory }}
        <tr class="ons-table__row">
          <td
            class="ons-table__cell"
            style="padding-top: 1rem; padding-bottom: 1rem"
          >
            {{ if eq $index 0 }}
              {{ $element.Title }}
              <span
                class="ons-u-fs-s--b"
                style="background-color: #E2E2E3; padding: 5px 9px 6px 9px; margin: 0px 20px;"
              >
                LATEST
              </span>
            {{ else }}
              <a href="{{ $element.URI }}">{{ $element.Title }}</a>
            {{ end }}
          </td>
          <td
            class="ons-table__cell"
            style="padding-top: 1rem; padding-bottom: 1rem"
          >
            {{ $element.Description }}
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>

  <div style="margin-bottom: 1rem">
    <a href="">See all previous releases</a>
  </div>
</div>
