<div class="ons-pl-grid-col">
  <h2>Summary</h2>
  <p>...summary...</p>

  <h2>Publications</h2>
  {{ template "partial-release-contents-publications" . }}

  <h2>Data</h2>
  {{ template "partial-release-contents-data" . }}

  <h2>Contact details</h2>
  {{ template "partial-release-contents-contact-details" . }}

  <h2>Changes to this release date</h2>
  {{ template "partial-release-contents-date-changes" . }}

  <h2>Release history</h2>
  {{ template "partial-release-contents-release-history" . }}

  {{ template "partial-release-contents-code-of-practice" . }}
</div>
