<nav class="ons-pl-grid-col">
  <div class="ons-u-fs-r--b">Contents</div>
  <ul class="ons-list ons-list--dashed">
    <li class="ons-list__item">
      <a href="#0" class="ons-list__link">Summary</a>
    </li>
    <li class="ons-list__item">
      <a href="#0" class="ons-list__link">Publications</a>
    </li>
    <li class="ons-list__item">
      <a href="#0" class="ons-list__link">Data</a>
    </li>
    <li class="ons-list__item">
      <a href="#0" class="ons-list__link">Contact details</a>
    </li>
    <li class="ons-list__item">
      <a href="#0" class="ons-list__link">Changes to this release date</a>
    </li>
    <li class="ons-list__item">
      <a href="#0" class="ons-list__link">Release history</a>
    </li>
  </ul>
</nav>
