<div class="ons-pl-grid-col">
  {{ template "partial-calendar-items-sort-by" .}}
  {{ template "partial-calendar-items-list" .}}
  {{ template "partial-calendar-items-pagination" .}}
  {{ template "partial-calendar-items-consumer-actions" .}}
</div>
