<ul>
  <li>
    <p>
      <a href="">...data link...</a>
    </p>

    <p>
      ...data description...
    </p>
  </li>

  <li>
    <p>
      <a href="">...data link...</a>
    </p>

    <p>
      ...data description...
    </p>
  </li>
</ul>
