<ul>
  <li>
    <ul>
      <li>
        <h3>Previous date</h3>
        <p>...date...</p>
      </li>
      <li>
        <h3>Reason for change</h3>
        <p>...reason...</p>
      </li>
    </ul>
  </li>
  <li>
    <ul>
      <li>
        <h3>Previous date</h3>
        <p>...date...</p>
      </li>
      <li>
        <h3>Reason for change</h3>
        <p>...reason...</p>
      </li>
    </ul>
  </li>
</ul>
