<div>
  <h3>Name</h3>
  <p>{{ .ContactDetails.Name }}</p>

  <h3>Email</h3>
  <p><a href="mailto:{{ .ContactDetails.Email }}">{{ .ContactDetails.Email }}</a></p>

  <h3>Phone</h3>
  <p><a href="tel:{{ .ContactDetails.Telephone }}">{{ .ContactDetails.Telephone }}</a></p>
</div>
