<div>
    {{ template "partial-filter-date-released-after"  . }}
    {{ template "partial-filter-date-released-before"  . }}

    <button type="button" class="ons-btn ons-btn--secondary">
        <span class="ons-btn__inner">Apply date filters</span>
    </button>
</div>
