<div class="ons-pl-grid-col">
  {{ if .Markdown }}
    <section id="summary">
      <h2>Summary</h2>
      <p>{{ .Markdown }}</p>
    </section>
  {{ end }}

  {{ if .RelatedDocuments }}
    <section id="publications">
      <h2>Publications</h2>
      {{ template "partial-release-contents-publications" . }}
    </section>
  {{ end }}

  {{ if .RelatedDatasets }}
    <section id="data">
      <h2>Data</h2>
      {{ template "partial-release-contents-data" . }}
    </section>
  {{ end }}

  {{ if .ContactDetails }}
    <section id="contactdetails">
      <h2>Contact details</h2>
      {{ template "partial-release-contents-contact-details" . }}
    </section>
  {{ end }}

  {{ if .DateChanges }}
    <section id="changestothisreleasedate">
      <h2>Changes to this release date</h2>
      {{ template "partial-release-contents-date-changes" . }}
    </section>
  {{ end }}

  {{ if .ReleaseHistory }}
    <section id="releasehistory">
      <h2>Release history</h2>
      {{ template "partial-release-contents-release-history" . }}
    </section>
  {{ end }}

  {{ template "partial-release-contents-code-of-practice" . }}
</div>
