<div>
  <table id="basic-table" class="ons-table">
    <!-- <caption class="ons-table__caption">A basic table with a caption</caption> -->
    <thead class="ons-table__head">
      <tr class="ons-table__row">
        <th scope="col" class="ons-table__header">
          <span>Release date</span>
        </th>
        <th scope="col" class="ons-table__header">
          <span>Reason for update</span>
        </th>
      </tr>
    </thead>
    <tbody class="ons-table__body">
      <tr class="ons-table__row">
        <td class="ons-table__cell" name="cell-name">
          8 December 2021 <span class="ons-u-fs-s--b" style="background-color: #E2E2E3; padding: 5px 9px 6px 9px; margin: 0px 20px;">LATEST</span>
        </td>
        <td class="ons-table__cell">
          Updated with latest data
        </td>
      </tr>
      <tr>
        <td class="ons-table__cell">
          <a href="">26 July 2021</a>
        </td>
        <td class="ons-table__cell">
          Updated with latest data
        </td>
      </tr>
      <tr>
        <td class="ons-table__cell">
          <a href="">22 April 2021</a>
        </td>
        <td class="ons-table__cell">
          Updated with latest data
        </td>
      </tr>
      <tr>
        <td class="ons-table__cell">
          <a href="">21 January 2021</a>
        </td>
        <td class="ons-table__cell">
          Updated with latest data
        </td>
      </tr>
      <tr>
        <td class="ons-table__cell">
          <a href="">17 October 2020</a>
        </td>
        <td class="ons-table__cell">
          Updated with latest data
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <a href="">See all previous releases</a>
  </div>
</div>