<div class="ons-field ons-field--inline">
  <label class="ons-label" for="select-calendar-item-order">Sort by</label>
  <select
    id="select-calendar-item-order"
    name="select-calendar-item-order"
    class="ons-input ons-input--select ons-u-wa--@xxs"
  >
    <option value="date-newest">Date (Newest)</option>
    <option value="date-oldest">Date (Oldest)</option>
    <option value="alphabetical-az">Alphabetical (A-Z)</option>
    <option value="alphabetical-za">Alphabetical (Z-A)</option>
  </select>
</div>
