<div class="ons-grid ons-u-ml-no">
  <!-- Left column -->
  <div class="ons-grid__col ons-col-4@m" style="padding: 0">
    {{ template "partial-previousreleases-contents-navigation" . }}
  </div>

  <!-- Right column -->
  <div class="ons-grid__col ons-col-8@m">
    {{ template "partial-previousreleases-contents-body" . }}
  </div>
</div>
