<ul class="ons-list ons-list--bare">
  {{ range .RelatedDatasets }}
    <li class="ons-list__item">
      <p>
        <a href="{{ .URI }}">{{ .Title }}</a>
      </p>

      <p>
        {{ .Description }}
      </p>
    </li>
  {{ end }}
</ul>
