<ul>
  <li>
    <p>
      <a href="">...publication link...</a>
    </p>

    <p>
      ...publication description...
    </p>
  </li>

  <li>
    <p>
      <a href="">...publication link...</a>
    </p>

    <p>
      ...publication description...
    </p>
  </li>
</ul>
