<div class="ons-page__container ons-container">
  {{ template "partials/special-breadcrumbs" . }}

  <div class="ons-u-fs-m ons-u-mt-s">Previous releases</div>
  <h1 class="ons-u-fs-xxxl ons-u-mt-s">{{ .Page.Metadata.Title }}</h1>

  {{ template "partials/previousreleases/contents" . }}
</div>
