<div class="ons-page__container ons-container">
    <div class="ons-grid ons-u-ml-no">
        {{ template "partials/breadcrumb" . }}
        <h1 class="ons-u-fs-xxxl ons-u-mt-s">{{ .Page.Metadata.Title }}</h1>
    </div>
</div>
