<div class="ons-page__container ons-container release">
  {{ template "partials/breadcrumb" . }}

  <div class="ons-u-fs-m ons-u-mt-s">
    {{- localise "ReleasePageType" .Language 1 -}}
  </div>
  <h1 class="ons-u-fs-xxxl ons-u-mt-s ons-u-mb-m">
    <span>{{- .Page.Metadata.Title -}}</span>
    {{ if .Description.NationalStatistic }}
      <a
        href="https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/"
        class="national-statistics__link ons-u-ml-s"
      >
        <img
          src="https://cdn.ons.gov.uk/assets/images/ons-logo/kitemark/uksa-kitemark.svg"
          alt="UK Statistics Authority kitemark"
          class="national-statistics__logo"
        >
      </a>
    {{ end }}
  </h1>

  {{ template "partials/release/status-header" . }}
  {{ template "partials/release/contents" . }}

  <!-- This hidden div it important to Google Tracking  -->
  <div class="hidden"> 
    {{ if .Description.Published }}
    <p class="release-status">published</p> 
    {{ end }}
    {{ if .Description.Cancelled }}
    <p class="release-status">cancelled</p> 
    {{ end }}
    <p class="release-date">{{- .Description.ReleaseDate -}}</p> 
    <p class="release-time">{{- .Description.ReleaseDate -}}</p> 
    <p class="release-date-status">{{- .Description.ReleaseDate -}}</p> 
    <p class="next-release-date">{{- .Description.ProvisionalDate -}}</p> 
    <p class="contact-name">{{- .Description.Contact.Name -}}</p> 
  </div>
</div>
