<div class="ons-page__container ons-container release" 
  data-gtm-release-status="{{- .PublicationState.Type -}}"
  data-gtm-release-date="{{dateFormatYYYYMMDD .Description.ReleaseDate}}"
  data-gtm-release-time="{{timeFormat24h .Description.ReleaseDate}}"
  data-gtm-release-date-status="{{- .Description.ProvisionalDate -}}"
  data-gtm-next-release-date="{{- .Description.NextRelease -}}"
  data-gtm-contact-name="{{- .Description.Contact.Name -}}"
>

  <div class="ons-u-fs-m ons-u-mt-s ons-u-pb-xxs release__document-type">
    {{- localise "ReleasePageType" .Language 1 -}}
  </div>
  <h1 class="ons-u-fs-xxxl ons-u-mb-m">
    <span>{{- .Page.Metadata.Title -}}</span>
    {{ if .Description.NationalStatistic }}
      <a
        href="https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/"
        class="national-statistics__link ons-u-ml-s"
      >
        <img
          src="https://cdn.ons.gov.uk/assets/images/ons-logo/kitemark/uksa-kitemark.svg"
          alt="UK Statistics Authority Kitemark"
          class="national-statistics__logo"
        >
      </a>
    {{ end }}
  </h1>

  {{ template "partials/release/status-header" . }}
  {{ template "partials/release/contents" . }}
</div>
