<div class="ons-accordion ons-pl-grid-col">
  <div class="ons-u-fs-r--b">Filter results</div>

  <div
    class="ons-collapsible ons-js-collapsible ons-collapsible--accordion"
    data-btn-close="Hide"
    data-group="accordion"
    data-open="true"
  >
    <div class="ons-collapsible__heading ons-js-collapsible-heading">
      <div class="ons-collapsible__controls">
        <h2 class="ons-collapsible__title">Release type</h2>
        {{ template "icons/collapsible" . }}
      </div>
    </div>
    <div class="ons-collapsible__content ons-js-collapsible-content ons-u-mb-s">
      {{ template "partials/calendar/filter/release-type" . }}
    </div>
  </div>

  <div
    class="ons-collapsible ons-js-collapsible ons-collapsible--accordion"
    data-btn-close="Hide"
    data-group="accordion"
    data-open="true"
  >
    <div class="ons-collapsible__heading ons-js-collapsible-heading">
      <div class="ons-collapsible__controls">
        <h2 class="ons-collapsible__title">Search</h2>
        {{ template "icons/collapsible" . }}
      </div>
    </div>
    <div class="ons-collapsible__content ons-js-collapsible-content ons-u-mb-s">
      {{ template "partials/calendar/filter/search-keywords" . }}
    </div>
  </div>

  <div
    class="ons-collapsible ons-js-collapsible ons-collapsible--accordion"
    data-btn-close="Hide"
    data-group="accordion"
    data-open="true"
  >
    <div class="ons-collapsible__heading ons-js-collapsible-heading">
      <div class="ons-collapsible__controls">
        <h2 class="ons-collapsible__title">Date</h2>
        {{ template "icons/collapsible" . }}
      </div>
    </div>
    <div class="ons-collapsible__content ons-js-collapsible-content">
      {{ template "partials/calendar/filter/date" . }}
    </div>
  </div>
</div>
