<div class="ons-pl-grid-col">
  {{ template "partials/calendar/items/sort-by" .}}
  {{ template "partials/calendar/items/list" .}}
  {{ template "partials/calendar/items/pagination" .}}
  {{ template "partials/calendar/items/consumer-actions" .}}
</div>
