<div class="ons-pl-grid-col">
  {{ template "partials/calendar/items/sort-by" .}}
  {{ if eq (len .Entries) 0 }}
    {{ template "partials/calendar/items/no-result-found" .}}
  {{ else }}
    {{ template "partials/calendar/items/list" .}}
    {{ template "partials/pagination" . }}
    {{ template "partials/calendar/items/subscription-links" .}}
  {{ end }}
</div>
